__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg
.eggs/

*.sqlite3
db.sqlite3

.env
.venv/
venv/
env/

*.log
*.pot
*.pyc

.DS_Store
Thumbs.db

staticfiles/
media/

.idea/
.vscode/
*.swp
*.swo
